<div>
  <%= render Ui::SearchFormComponent.new(
    url: create_url,
    fields: search_fields,
    cols: 4,
    enable_collapse: true
  ) %>

  <%= render Ui::GridHeaderComponent.new(
    icon: "log-in", title: "로그인 이력", grid_id: "login-history",
    class: "mb-2"
  ) %>

  <%= render Ui::AgGridComponent.new(
    columns: columns,
    url: grid_url,
    height: "calc(100vh - 360px)",
    page_size: 50,
    server_pagination: true,
    grid_id: "login-history"
  ) %>
</div>
