<div>
  <%= render Ui::SearchFormComponent.new(
    url: create_url,
    fields: search_fields,
    cols: 4,
    enable_collapse: true
  ) %>

  <%= render Ui::GridHeaderComponent.new(
    icon: "history", title: "메뉴 접속 로그", grid_id: "menu-logs",
    class: "mb-2"
  ) %>

  <%= render Ui::AgGridComponent.new(
    columns: columns,
    url: grid_url,
    height: "calc(100vh - 360px)",
    page_size: 50,
    grid_id: "menu-logs"
  ) %>
</div>
