<div class="grid-toolbar">
  <div class="grid-toolbar-buttons">
    <% buttons.each do |button| %>
      <button type="<%= button[:type] || "button" %>"
              class="<%= button[:class] || "btn btn-sm btn-primary" %>"
              <%= %(data-action="#{button[:action]}").html_safe if button[:action].present? %>>
        <%= button[:label] %>
      </button>
    <% end %>
  </div>
</div>
